:root {
  --color-light: #f8f9fa;
  --color-white: #ffffff;
  --color-unaccent: #808080;
  --color-orange: #e07a1a;
  --color-medium: #e8e8e8;
  --color-dark: #a1a1a1;

  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 30px;

  --linear-gradient: linear-gradient(to right, #f8ae7c, #f5a767, #f19e51, #ee8a38, #eb7412);

  --box-shadow: 0 16px 24px 2px rgba(33, 37, 41, .02),
    0 6px 30px 5px rgba(33, 37, 41, .04),
    0 8px 10px -5px rgba(33, 37, 41, .1);
  --border-radius: 3px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-orange);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.8;
  background-color: var(--color-light);
}